* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/spaceback.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

textarea {
    width: 100%;
    height: 100px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

form {
    color: white;
    padding-left: 20px;
}

input {
    margin: 20px 10px 0 10px;
}

label {
    margin-top: 10px;
    display: block;
    width: 90%;
}

label:after {
    content: ' ';
}

.orbit-first {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 75px);
    top: calc(50% - 75px);
    border: 1px solid white;
    animation-name: fly;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 19;
}

.orbit-second {
    width: 224px;
    height: 224px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 112px);
    top: calc(50% - 112px);
    border: 1px solid white;
    animation-name: fly;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 18;
}

.orbit-third {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 150px);
    top: calc(50% - 150px);
    border: 1px solid white;
    animation-name: fly;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 17;
}

.orbit-fourth {
    width: 374px;
    height: 374px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 187px);
    top: calc(50% - 187px);
    border: 1px solid white;
    animation-name: fly;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 16;
}

.orbit-fifth {
    width: 650px;
    height: 650px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 325px);
    top: calc(50% - 325px);
    border: 1px solid white;
    animation-name: fly;
    animation-duration: 240s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 15;
}

.orbit-sixth {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 400px);
    top: calc(50% - 400px);
    border: 1px solid white;
    animation-name: fly;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 14;
}

.orbit-seventh {
    width: 900px;
    height: 900px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 450px);
    top: calc(50% - 450px);
    border: 1px solid white;
    animation-name: fly;
    animation-duration: 1680s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 13;
}

.orbit-eighth {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 500px);
    top: calc(50% - 500px);
    border: 1px solid white;
    animation-name: fly;
    animation-duration: 3280s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 12;
}

.planet {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 15px);
    top: calc(0% - 15px);
    background-size: contain;
}

.test-planet-first {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 15px);
    top: calc(0% - 15px);
    background-size: contain;
    border: 1px solid white;
}

.test-planet-second {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 15px);
    top: calc(0% - 15px);
    background-size: contain;
    border: 1px solid white;
}

.test-planet-third {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 15px);
    top: calc(0% - 15px);
    background-size: contain;
    border: 1px solid white;
}

.test-planet-fourth {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 15px);
    top: calc(0% - 15px);
    background-size: contain;
    border: 1px solid white;
}

.planet:hover {
    border: 2px solid rgba(0, 103, 230, 0.25);
    background-color: rgba(0, 103, 230, 0.25);
}

.mercury {
    background-image: url("../images/mercury.png");
    animation-name: fly2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.venus {
    background-image: url("../images/venus.png");
    animation-name: fly2;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.earth {
    background-image: url("../images/earth.png");
    animation-name: fly2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mars {
    background-image: url("../images/mars.png");
    animation-name: fly2;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.jupiter {
    background-image: url("../images/jupiter.png");
    animation-name: fly2;
    animation-duration: 240s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.saturn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 15px);
    top: calc(0% - 15px);
    border: 5px solid transparent;
    animation-name: fly2;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.saturn:before {
    content: ' ';
    height: 50px;
    width: 50px;
    background-image: url('../images/saturn3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    position: absolute;
    left: calc(50% - 25px);
    top: calc(0% - 15px);
}

.uranus {
    background-image: url("../images/uranus.png");
    animation-name: fly2;
    animation-duration: 1680s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.neptune {
    background-image: url("../images/neptune.png");
    animation-name: fly2;
    animation-duration: 3280s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.sun2 {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 50px);
    top: calc(50% - 50px);
    background-image: url("../images/sunProper.png");
    background-size: contain;
    z-index: 20;
}

.sun2:hover {
    border: 2px solid rgba(0, 103, 230, 0.25);
    background-color: rgba(0, 103, 230, 0.25);
}

.main-star {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 50px);
    top: calc(50% - 50px);
    background-size: contain;
    background-image: url("../images/sunProper.png");
}

.constructor-orbit-first {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 75px);
    top: calc(50% - 75px);
    border: 1px solid pink;
    animation-name: fly;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.constructor-orbit-second {
    width: 224px;
    height: 224px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 112px);
    top: calc(50% - 112px);
    border: 1px solid white;
    animation-name: fly;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.constructor-orbit-third {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 150px);
    top: calc(50% - 150px);
    border: 1px solid white;
    animation-name: fly;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.constructor-orbit-fourth {
    width: 374px;
    height: 374px;
    border-radius: 50%;
    position: absolute;
    left: calc(45% - 187px);
    top: calc(50% - 187px);
    border: 1px solid white;
    animation-name: fly;
    animation-duration: 160s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



@keyframes fly {
    0% {
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes fly2 {
    0% {
    }
    100% {
        transform: rotate(-360deg)
    }
}

/*.earth:hover {*/
/*    border: 1px solid rgba(0, 103, 230, 0.15);*/
/*    background-color: rgba(0, 103, 230, 0.25);*/
/*}*/

.menu {
    width: 25%;
    height: calc(100vh - 1px);
    border-left: 5px solid #747474;
    background-color: rgba(128,128,128,0.3);
    z-index: 5;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-menu {
    width: 50px;
    height: 50px;
    float: left;
    border: 2px solid white;
    background-image: url("../images/hamburger.jpg");
    background-size: contain;
}

.object-picture {
    width: 80%;
    height: 300px;
    color: white;
    /*background-image: url("../images/coronal.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    position: relative;
}

.object-picture>img {
    width: 100%;
    height: 100%;
}

.object-description {
    color: white;
    width: 90%;
    height: 300px;

}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px 10px 10px;
    align-items: center;

}

.details>h1 {
    font-size: 50px;
    color: white;
}

.button-holder {
    position: absolute;
    left: 0;
    bottom: 0;
}

.create-button, .edit-button, .animation-control {
    height: 60px;
    width: 160px;
}

.form-next {
    background-color: transparent;
    width: 50px;
    height: 50px;
    background-image: url('../images/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    transform: rotate(270deg);
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.facts {
    width: 1200px;
    height: 600px;
    border: 5px solid grey;
    background-color: rgba(128,128,128,0.2);
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 600px);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
}

.facts-picture {
    width: 80%;
    height: 60%;
    border: 5px solid grey;
}

.mySlides {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: none;
}

.plus-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    background-color: rgba(128,128,128,0.3);
    border: none;
}

.minus-button {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40px;
    background-color: rgba(128,128,128,0.3);
    border: none;
}

.minus-button:focus-within, .plus-button:focus-within {
    outline: 0;
}

.mySlides:first-child {
    display: block;
}

.creator-edit-holder {
    position: absolute;
    left: 0;
    top: 0;
}

.creator-edit-holder>button {
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.cheat-button {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.cheat-button2 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
}